block content
  body
    section
        #gallery_box
        h2#gallery_title GALLERY
        |             
        .grid_frame
            .grid
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
            .grid_item
