footer#footer
    .max_area.clearfix
    p Copyright &copy; Huvis All Rights Reserved
    .foot_r.f_r
        ul.quick
        li
            a(href='') 공개구매
        li
            a(href='') 인트라넷
        ul.foot_link
        li
            a(href='') 고객센터
        li
            a(href='') 이용약관
        li
            a(href='') 이메일무단수집거부
        li
            a.bold.font_w(href='') 개인정보취급방침                
        li
            a(href='') 사이트맵         
        .family.p_r
        a.fsite(href='', role='button') Family Site                
        ul
            li
            a(href='http://www.huviswater.com/kor/', target='_blank', title='새창') 휴비스워터                       
            li
            a(href='http://www.huvis.com.cn/chi/', target='_blank', title='새창') 사천휴비스                
        a.go(href='') &#xC774;&#xB3D9;