header.bg-white.text-success.pl-5.pr-5.pt-4.pb-4.shadow-sm
	.logo 
		a.navi(href='/home').pt-3.pb-3.px-5.bg-warning LOGO
	.navi-wrap.m-0-auto
		a.navi(href='/home').mx-2 HOME
		a.navi(href='/board').mx-2 COMMUNITY
		a.navi(href='/recycle').mx-2 RECYCLE
		a.navi(href='/gallery').mx-2 GALLERY
	.wrap
		if user && user.userid
			a.navi(href='/user/logout') LOGOUT
		else
			a.navi(href='/user/join') JOIN
			a.navi(href='/user/login') LOGIN	
		span.mx-3 |
		span.ml-2= `${user && user.username ? '['+user.username+']님' : ''}`