header#header.bg-white.pt-3.pb-3.shadow-sm
	.logo(style="height: 48px;width: 102px;")
		a.navi(href='/home' style="background: url('../img/logo.png') no-repeat;background-size: cover;display: block;height: 100%;")
	ul.navi-wrap.m-0-auto
		li
			a.navi(href='/home').mx-2 HOME
		li
			a.navi(href='/board').mx-2 COMMUNITY
		li.down
			a.navi(href='/recycle').mx-2 RECYCLE
			ul
				li
					a(href="") PAPER					
				li
					a(href="") PLASTIC					
				li
					a(href="") CAN					
				li
					a(href="") GLASS				
				li
					a(href="") VINYL					
				li
					a(href="") STYROFOAM					
		li
			a.navi(href='/howto').mx-2 HOW TO
	.wrap
		if user && user.userid
			a.navi(href='/user/logout') LOGOUT
		else
			a.navi(href='/user/join') JOIN
			a.navi(href='/user/login') LOGIN	
		span.navi |
		span.navi= `${user && user.username ? '['+user.username+']님' : ''}`