@charset "utf-8";
/* section */
#indicator{position: fixed;top: 150px;right: 0;}

/* 인덱스 문서에서만 필요한 스타일 => main.css */
/* #indicator */
#indicator{position: fixed;top: 50%;right: 73px;margin-top: -74px;width: 138px;z-index: 900;font-size: 12px;}
#indicator ul li{padding: 8px 0;}
#indicator ul li a{display: block;height: 24px;line-height: 24px;}
#indicator ul li a span, #indicator ul li a::after{float: left;height: 24px;}
#indicator ul li a span{display: block;width: 104px;background: #458d51;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;text-align: center;color: #ffffff;margin-right: 10px;opacity: 0;}
#indicator ul li a:hover span, #indicator ul li.on a span{opacity: 1;}/* display: none으로 하면 스크린 리더에서도 안 읽고 float했던 :after가 앞으로 움직여지므로 공간은 차지하고 있게끔 투명도로 없애기 */

#indicator ul li a::after{content: '';width: 24px;height: 24px;background-color: #458d51;border-radius: 50%;}/* db필요 없음 float줬기 때문 */
#indicator ul li a:hover::after, #indicator ul li.on a::after{background-color: #1a4616;}

/* #cnt1 - Main Slider */
#cnt1{height: 60vh;}
/* slider */
#main_slider{height: 100%;/* overflow-y: hidden; */
padding: 0 200px;}
#main_slider .s_title{width: 25%;margin-right: 10%;}
#main_slider .s_title h4{margin-top: 100px;font-size: 36px;}
#main_slider .s_title p{font-size: 18px;padding-top: 10px;}
#main_slider .s_title .swiper-pagination{top: 50px;}
#main_slider .s_title .swiper-pagination span{margin: 0 5px;width: 10px;height: 10px;}
#main_slider .swiper-container{height: 100%;width: 65%;}
#main_slider .swiper-slide{height: 100%;border-radius: 30px;}
#main_slider .swiper-slide a{display: block;width: 100%;height: 100%;}
#main_slider .swiper-slide a .img{display: block;width: 70%;height: 100%;background-size: cover;background-position: 50% 50%;float: left;border-radius: 30px;}
#main_slider .swiper-slide a .txt{width: 30%;height: 50%;float: right;text-align: center;transform: translateY(50%);}
#main_slider .swiper-slide.s_01 a .img{background-image: url(../img/img-01.jpg);}
#main_slider .swiper-slide.s_02 a .img{background-image: url(../img/img-02.jpg);}
#main_slider .swiper-slide.s_03 a .img{background-image: url(../img/img-03.jpg);}
#main_slider .swiper-slide.s_04 a .img{background-image: url(../img/img-04.jpg);}
#main_slider img{width: 100%;transform: translate(0, -10vw);}
.swiper-button-prev, .swiper-button-next, .swiper-pagination{--swiper-theme-color: #458d51;}


#bar1{text-align: center;}
#bar1 .txt h3{height: 40px;line-height: 40px;font-size: 32px;}
#bar1 .txt p{font-size: 16px;}
#bar1 ul.trash li{height: 20vh;border-radius: 30px;background: #fff;padding: 0;overflow: hidden;background-size: cover;}
#bar1 ul.trash li.paper{background-image: url(../img/trashes/paper.png);}
#bar1 ul.trash li.plastic{background-image: url(../img/trashes/plastic_1.jpeg);}
#bar1 ul.trash li.can{background-image: url(../img/trashes/can.jpg);}
#bar1 ul.trash li.bottle{background-image: url(../img/trashes/bottle2.jpg);}
#bar1 ul.trash li.plastic_bag{background-image: url(../img/trashes/plastic_bag.jpg);}
#bar1 ul.trash li.stiroform{background-image: url(../img/trashes/stiroform.jpg);}
#bar1 ul.trash li a{display: block;height: 100%;position: relative;}
#bar1 ul.trash li a div{position: absolute;bottom: 0;width: 100%;}
#bar1 ul.trash li a div h4{font-size: 24px;}
#bar1 ul.trash li a div p{font-size: 20px;color: #ffffff;}
#bar1 ul.trash li.paper a div p{background: rgb(253, 93, 93);}
#bar1 ul.trash li.plastic a div p{background: rgb(253, 93, 186);}
#bar1 ul.trash li.can a div p{background: rgb(253, 210, 93);}
#bar1 ul.trash li.bottle a div p{background: rgb(93, 253, 133);}
#bar1 ul.trash li.plastic_bag a div p{background: rgb(93, 144, 253);}
#bar1 ul.trash li.stiroform a div p{background: rgb(208, 93, 253);}


/* #cnt2 ~ #cnt5 공통 스타일 */
#cnt2.area, #cnt3.area{padding-bottom: 160px;margin-top: 100px;}
#content .area .tit{text-align: center;font-size: 36px;color: #000000;}
#content .area .tit + p{text-align: center;padding: 6px 0 50px;font-size: 18px;}


/* #cnt2 - PRODUCTS */
.products > li{position: relative;float: left;width: 380px;height: 300px;padding: 40px 140px 0 40px;margin-right: 15px;margin-bottom: 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #ccc;background: no-repeat 250px 30px;}
.products > li:nth-child(3n){margin-right: 0;}
.products .list1{background-image: url(../images/main/bg_product1.png);}
.products .list2{background-image: url(../images/main/bg_product2.png);}
.products .list3{background-image: url(../images/main/bg_product3.png);}
.products .list4{background-image: url(../images/main/bg_product4.png);}
.products .list5{background-image: url(../images/main/bg_product5.png);}
.products .list6{background-image: url(../images/main/bg_product6.png);}

/* li:hover + li button:focus로 선택하고 enter로 클릭한 경우 => 스크립트에서 li.on 
1) li : 배경색, 배경이미지
2) h4 : 글자색 흰색
3) p : 아무것도 하지 않음 => ul이 absolute(배경색)로 가림
4) button : 불투명도 0 (display: none;하면 안되는 이유 : focus를 가진 태그가 display: none 되면 focus가 문서의 가장 처음으로 튕겨나간다
5) ul : display: block으로 나타남
*/
.products > li.on{background-color: #458d51;color: #ffffff;}
.products .list1:hover{background-image: url(../images/main/bg_product1_hover.png);}
.products .list2:hover{background-image: url(../images/main/bg_product2_hover.png);}
.products .list3:hover{background-image: url(../images/main/bg_product3_hover.png);}
.products .list4:hover{background-image: url(../images/main/bg_product4_hover.png);}
.products .list5:hover{background-image: url(../images/main/bg_product5_hover.png);}
.products .list6:hover{background-image: url(../images/main/bg_product6_hover.png);}
    .products h4{font-size: 20px;padding-bottom: 20px;}
    .products p{line-height: 20px;word-break: keep-all;}
    .products > li.on button{opacity: 0;cursor: default;}
    .products > li ul{display: none;}
    .products > li.on ul{display: block;width: 160px;position: absolute;top: 80px;left: 40px;padding-right: 40px;background: #458d51;}
    .products button{position: absolute;bottom: 0;left: 0;width: 100%;height: 80px;background: #cccccc url(../images/main/btn_more.png) no-repeat right center;}
        .products li ul li a{display: block;height: 29px;line-height: 29px;background: url(../images/main/arr_more.png) no-repeat right center;border-bottom: 1px solid #fff;font-size: 16px;}
        .products li ul li a:hover, .products li ul li a:focus{color: #1a4616;font-weight: 500;}
    /* 예외) .list6 추가 제어 a */
    .products .list6 a{display: none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
    .products .list6.on a{display: block;}

 /* #bar2 */
 #bar2{background: #1a4616;padding: 25px 0px 25px 200px;height: 300px;color: #ffffff;}
 #bar2 .txt h4{font-size: 30px;margin-bottom: 10px;}
 #bar2 .txt p{font-size: 18px;}
 .frame{width: 1100px;height: 250px;}
.frame .box{display: inline-block;width: 20%;height: 100%;position: relative;transition: transform 0.5s, box-shadow 0.5s;overflow: hidden;}

.frame .box:before{content: '';position: absolute;top: 0;left: -50%;width: 100%;height: 100%;}
.frame .box:hover{transform: translate(0, -10px);box-shadow: 0 8px 16px rgba(0, 0, 0, .6);}

.frame .box .cont{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

.frame .box .cont .top{position: relative;width: 200px;height: 200px;border-radius: 50%;box-shadow: inset 0 0 16px;z-index: 99;margin: 0 auto;background-size: 400px;background-position: center;}
.frame .box .cont .cir1{background-image: url(../img/trashes/paper2.jpg);}
.frame .box .cont .cir2{background-image: url(../img/trashes/plastic_2.jpg);}
.frame .box .cont .cir3{background-image: url(../img/trashes/plastic_bag2.jpg);}
.frame .box .cont .cir4{background-image: url(../img/trashes/bottle3.jpg);}

.frame .box .cont .top .num{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.frame .box .cont .top .num h2{font-size: 14px;}
.frame .box .cont .top .num h2 .count{font-size: 18px;}
.frame .box .cont .bottom .cont_txt{font-size: 20px;margin-top: 20px;text-align: center;}

svg{position: absolute;top: 25px;left: 25px;width: 190px;height: 190px;z-index: 99;}
svg circle{width: 100%;height: 100%;fill: none;stroke: rgba(255, 255, 255, 0.507);stroke-width: 10;transform: translate(5px, 5px);}
svg circle:nth-child(2){
    stroke-linecap: round; /* stroke 양끝부분의 형태를 선언 : butt, round, project */
    stroke-dasharray: 440; /* 점선형태로 일부가 보이도록 선언, 다른 부분은 보이지 않도록 선언 */
    stroke-dashoffset: 440; /* 시작되는 지점으로부터 마지막 지점까지 이격된 거리, 440 : 원의 호길이 = 반지름(r의 속성값) * 2 * PI(3.14) */
    stroke : #fff;
    transition : stroke-dashoffset 1s;
}


   
/* #cnt3 - 생활 속 휴비스 */
/* maintab */
/* 1) #mainTab의 크기와 위치 조정 */
#mainTab{width: 1170px;height: 680px;}
/* 2) .tablist의 높이를 지정해서 크기 인식, 하단여백 */
#mainTab .tablist{height: 50px;margin-bottom: 30px;}
/* 3) .tablist의 li 한줄에 위치시키기 */
#mainTab .tablist li{float: left;width: 380px;height: 48px;line-height: 48px;box-sizing: border-box;border: 1px solid #cccccc;background: #f2f2f2;font-size: 18px;color: #000000;text-align: center;cursor: pointer;}
#mainTab .tablist li + li{margin-left: 15px;}
/* 4) 탭에 :hover, :focus - script에서 tabindex라는 속성을 0으로 추가해줘서 li에도 focus를 보낼 수 있음, li.active를 가지면 버튼색 활성화 */
#mainTab .tablist li:hover, #mainTab .tablist li:focus, #mainTab .tablist li.active{color: #ffffff;background: #458d51;border-color: #458d51;}
/* 5) .tabpanel : 자세히보기 버튼 absolute처리 위해 기준점 변경, 모두 숨김 */
#mainTab .tabpanel{position: relative;height: 600px;display: none;color: #ffffff;}
/* 6) .active일 경우만 탭패널 보여짐 */
#mainTab .tabpanel.active{display: block;}
/* 7) .bg 배경 */
#mainTab .tabpanel .bg{height: 530px;text-align: center;background-size: cover;background-repeat: no-repeat;background-position: center;}
#mainTab #tabpanel1 .bg{background-image: url(../img/trashes/paper4.jpeg);}
#mainTab #tabpanel2 .bg{background-image: url(../img/trashes/plastic_4.jpg);}
#mainTab #tabpanel3 .bg{background-image: url(../img/trashes/plastic_bag3.jpg);}
/* 8) .bg내부의 텍스트, img, button */
#mainTab .tabpanel .bg h4{padding-top: 163px;font-size: 74px;font-weight: 700;line-height: 111px;}
#mainTab .tabpanel .bg p{position: relative;padding-top: 30px;line-height: 22px;}
#mainTab .tabpanel .bg p:after{content: "";position: absolute;top: 0px;left: 50%;margin-left: -30px;background: #ffffff;width: 60px;height: 3px;}
#mainTab .tabpanel .bg img{position: absolute;bottom: 50px;right: 50px;}
#mainTab .tabpanel .bg button{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
/* outline의 색상이 배경과 비슷해서 포커스가 어디에 있는지 알지 못하면 색상변경 */
#mainTab .tabpanel .bg button:focus:after{content: "";position: absolute;top: 1px;left: 1px;width: calc(100% - 2px);height: calc(100% - 2px);outline: 2px dashed #ffff00;}
/* 9) 자세히 보기 버튼 - 각각의 상세페이지 경로명이 다르므로 총 3개의 자세히 보기를 넣어줘야 함 */
.tabpanel a{position: absolute;bottom: 0;right: 0;width: 135px;height: 38px;line-height: 38px;font-size: 14px;background: #999999 url(../images/main/arr_more.png) no-repeat 119px 50%;border: 1px solid #666;padding-left: 43px;}/* box-sizing: border-box;를 주면 width: 180px; 안주면 width: 135px; */