extends ../layout/default.pug
block content
  head
  body
    nav#indicator
      ul
        li.list1(id='')
          a(href='#cnt1', role='button')
            // 클릭하면 이동할 article의 아이디명을 작성 - 스크립트와 연결
            span MAIN
            // border-radius, 배경색, 글자영역
            // a:after 가상요소 배경처리
        li.list2(id='')
          a(href='#cnt2', role='button')
            span PRODUCTS
        li.list3(id='')
          a(href='#cnt3', role='button')
            span Huvistory
    section#content.max_area
      h2.blind &#xD734;&#xBE44;&#xC2A4; &#xC18C;&#xAC1C;
      article#cnt1
        // .area 가로 1170픽셀, 가운데 위치
        h3.blind MAIN
        #main_slider
          .s_title.f_l.p_r
            .swiper-pagination
            // 슬라이드 네비게이션
            h4 슬라이더 제목
            p 슬라이더 설명
          div.swiper-container.f_r
            ul.swiper-wrapper
              li.swiper-slide.s_01
                a(href='#')
                  .img
                  .txt
                    h4 dfdfdfdf
                    p dfdfdfdfdf
              li.swiper-slide.s_02
                a(href='#')
                  .img
                  .txt
                    h4 dfdfdfdf
                    p dfdfdfdfdf
              li.swiper-slide.s_03
                a(href='#')
                  .img
                  .txt
                    h4 dfdfdfdf
                    p dfdfdfdfdf
              li.swiper-slide.s_04
                a(href='#')
                  .img
                  .txt
                    h4 dfdfdfdf
                    p dfdfdfdfdf
            .swiper-button-prev
            // 슬라이드 진행방향(이전 버튼)
            .swiper-button-next
            // 슬라이드 진행방향(다음 버튼)
            .swiper-scrollbar
      article#bar1.py-4
        .txt
            h3  어떤 쓰레기인가요?
            p 어떤 쓰레기로 분리배출해야할 지 애매하다면 아래 버튼을 눌러보세요.
        ul.area.trash.row.pt-3
          li.paper.col.mx-2
            a(href='../howto/#bar1')
              div
                h4 종이
                p PAPER
          li.plastic.col.mx-2
            a(href='../howto/#bar2')
              div
                h4 플라스틱
                p PLASTIC
          li.can.col.mx-2
            a(href='../howto/#bar3')
              div
                h4 캔
                p CAN
          li.bottle.col.mx-2
            a(href='../howto/#bar4')
              div
                h4 유리
                p GLASS
          li.plastic_bag.col.mx-2
            a(href='../howto/#bar5')
              div
                h4 비닐
                p VINYL
          li.stiroform.col.mx-2
            a(href='../howto/#bar6')
              div
                h4 스티로폼
                p STYROFOAM
      article#cnt2.area
        h3.tit 쓰레기는 지금
        p 무심코 버린 쓰레기, 어디에 있는가
        ul.products.clearfix
          li.list1
            h4 종이
            p 단섬유는 의류용뿐만 아니라 산업용으로 광범위하게 사용됩니다.
            button(type='button')
              span.blind2 &#xB2E8;&#xC12C;&#xC720; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            // 버튼태그는 left0 right0으로 너비선언x
            ul
              li
                a(href='') 소개
              li
                a(href='') 방적용
              li
                a(href='') 부직포용
              li
                a(href='') 부직포용 Special
              li
                a(href='') 충전용
          li.list2
            h4 플라스틱
            p
              |장섬유는 주로 정장,
              br
              |기능성 의류, 인테리어 등 다양한 용도로 사용됩니다.
            button(type='button')
              span.blind2 &#xC7A5;&#xC12C;&#xC720; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            ul
              li
                a(href='') 소개
              li
                a(href='') Apparel
              li
                a(href='') Casual Sports
              li
                a(href='') Interior
              li
                a(href='') Eco Products
          li.list3
            h4 캔
            p
              PET 레진은 섬유용,
              br
              |페트병용, 용기제작용으로 사용됩니다.
            button(type='button')
              span.blind2 PET&#xB808;&#xC9C4; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            ul
              li
                a(href='') 소개
              li
                a(href='') 섬유용
              li
                a(href='') 고상
              li
                a(href='') Specialty
          li.list4
            h4 병
            p 아라미드, PPS 섬유 등 최첨단 슈퍼 섬유 개발에 앞장서고 있습니다.
            button(type='button')
              span.blind2 &#xC288;&#xD37C;&#xC12C;&#xC720; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            ul
              li
                a(href='') 소개
              li
                a(href='') 아라미드
              li
                a(href='') PPS
          li.list5
            h4 비닐
            p
              |농업, 공업, 건축 등
              br
              |산업의 근간이 되는 다양한 분야에 사용됩니다.
            button(type='button')
              span.blind2 &#xC0B0;&#xC5C5;&#xC790;&#xC7AC;&#xC6A9; &#xC18C;&#xC7AC; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            ul
              li
                a(href='') 소개
              li
                a(href='') 건축/자동차용부직포
              li
                a(href='') 고강력사
              li
                a(href='') 스펀본드
              li
                a(href='') 지오그리드
              li
                a(href='') 모노필라멘트
          li.list6
            h4 스티로폼
            p
              |휴비스 제품에 대한
              br
              |다양한 정보를 보실 수 있습니다.
            button(type='button')
              span.blind2 &#xC81C;&#xD488;&#xC790;&#xB8CC;&#xC2E4; &#xC0C1;&#xC138;&#xC124;&#xBA85;
            a(href='')
              span.blind2 &#xC81C;&#xD488;&#xC790;&#xB8CC;&#xC2E4;
            // 클릭 시 링크이동 있음
      article#bar2
        .txt.f_l
          h4 재활용 현황
          p 우리가 버린 쓰레기 중 현재 재활용 된 쓰레기의 비율은?
        .frame.f_r
          // 첫번째 서클
          .box
            .cont
              .top.cir1
                svg
                  circle(cx='70' cy='70' r='70')
                  circle(cx='70' cy='70' r='70')
                .num
                  h2
                    span.count 90
                    span %
              .bottom
                h2.cont_txt 종이 쓰레기
          // 두번째 서클
          .box
            .cont
              .top.cir2
                svg
                  circle(cx='70' cy='70' r='70')
                  circle(cx='70' cy='70' r='70')
                .num
                  h2
                    span.count 85
                    span %
              .bottom
                h2.cont_txt 플라스틱 쓰레기
          // 세번째 서클
          .box
            .cont
              .top.cir3
                svg
                  circle(cx='70' cy='70' r='70')
                  circle(cx='70' cy='70' r='70')
                .num
                  h2
                    span.count 70
                    span %
              .bottom
                h2.cont_txt 비닐 쓰레기
          // 네번째 서클
          .box
            .cont
              .top.cir4
                svg
                  circle(cx='70' cy='70' r='70')
                  circle(cx='70' cy='70' r='70')
                .num
                  h2
                    span.count 70
                    span %
              .bottom
                h2.cont_txt 캔/병 쓰레기
      article#cnt3.area
        h3.tit Huvistory
        p
          |더 좋은 세상을 위한 소재 기술을 만들어 가는 휴비스,
          br
          |우리 생활 곳곳에서 항상 함께하는 휴비스를 지금 만나보세요.
        #mainTab
          ul.tablist(role='tablist', aria-label='생활 속 휴비스')
            li#tab1.tab.first(role='tab', aria-controls='tabpanel1') 종이 쓰레기
            li#tab2.tab(role='tab', aria-controls='tabpanel2') 플라스틱 쓰레기
            li#tab3.tab.last(role='tab', aria-controls='tabpanel3') 비닐 쓰레기
          #tabpanel1.tabpanel(role='tabpanel', aria-labelledby='tab1')
            .bg
              // 배경이미지 처리
              h4 종이 쓰레기
              p
                |자동차와 사무실, 그리고 즐겨입는 정장까지...
                br
                |비즈니스 환경 속에서 만날 수 있는 다양한 휴비스 제품들
                br
                br
                |비즈니스 속 휴비스 이야기, 지금 만나보세요!
              button(type='button', data-index='0')
                // .bg와 동일한 크기, absolute로 .bg와 포개지도록
                span.blind &#xC0C8;&#xCC3D; - &#xB3D9;&#xC601;&#xC0C1;&#xC7AC;&#xC0DD;
                // 접근성 : 새창으로 열려질 때 설명필요
            // 2. 운용의 용의성, 2.4 쉬운 네비게이션, 2.4.3 적절한 링크 텍스트 - 링크 텍스트는 용도나 목적을 이해할 수 있도록 제공해야 한다.
            a(href='')
              span.blind2 Business
              | &#xC790;&#xC138;&#xD788;&#xBCF4;&#xAE30;
          #tabpanel2.tabpanel(role='tabpanel', aria-labelledby='tab2')
            .bg
              h4 플라스틱 쓰레기
              p
                |침구류와 커튼 소재, 즐겨 입는 운동복과 아기 기저귀까지...
                br
                |집 안에서 만날 수 있는 다양한 휴비스 제품들,
                br
                br
                |우리 집 휴비스 이야기, 지금 만나보세요!
              button(type='button', data-index='1')
                span.blind &#xC0C8;&#xCC3D; - &#xB3D9;&#xC601;&#xC0C1;&#xC7AC;&#xC0DD;
            a(href='')
              span.blind2 Home
              | &#xC790;&#xC138;&#xD788;&#xBCF4;&#xAE30;
          #tabpanel3.tabpanel(role='tabpanel', aria-labelledby='tab3')
            .bg
              h4 비닐 쓰레기
              p
                |기능성 스포츠 의류, 캐주얼 의류, 신발 그리고 식품용기까지...
                br
                |생활 곳곳에서 만날 수 있는 휴비스 제품들
                br
                br
                |아웃도어 휴비스 이야기, 지금 만나보세요!
              button(type='button', data-index='2')
                span.blind &#xC0C8;&#xCC3D; - &#xB3D9;&#xC601;&#xC0C1;&#xC7AC;&#xC0DD;
            a(href='')
              span.blind2 Outdoor
              | &#xC790;&#xC138;&#xD788;&#xBCF4;&#xAE30;