extends ../layout/default.pug

block content
	//- div(style="height:300px;background:gray;")
	//- 	div#myCarouselcarousel.slide(data-ride="carousel" style="height:100%;")
	//- 		ol.carousel-indicators
	//- 			li.active(data-target="#myCarousel" data-slide-to="0")
	//- 			li(data-target="#myCarousel" data-slide-to="1")
	//- 			li(data-target="#myCarousel" data-slide-to="2")

	//- 		div.carousel-inner
	//- 			div.carousel-item.h-100.active.bg-success
	//- 				img.d-block.w-100(src="../img/1.jpg")
	//- 			div.carousel-item.h-100.bg-primary
	//- 				div.d-block.w-100(src="../img/2.jpg")
	//- 			div.carousel-item.h-100.bg-danger
	//- 				img.d-block.w-100(src="../img/4.jpg")

	//- 		a.carousel-control-prev.bg-warning(href="#myCarousel" data-slide="prev" role="button")
	//- 			span.carousel-control-prev-icon(aria-hidden="true")
	//- 			span.sr-only Previous

	//- 		a.carousel-control-next.bg-warning(href="#myCarousel" data-slide="next" role="button")
	//- 			span.carousel-control-next-icon(aria-hidden="ture")
	//- 			span.sr-only Next  
	main(style="height:600px;background:gray;")
		.txt
			h1 TITLE
			p CONTENT1

	.container
		.jumbotron.my-2
			h1= title