extends ../layout/default.pug
block content
  body
    section
      .q_total
        .q_frame
          .q_cont.q_cont01
            .q_question
              h2 1. 물이나 음식물, 기름 등으로 오염되어 있나요?
            .q_answer
              label(for='polluted')
                input#polluted(type='radio', name='pollution', value='polluted')
                | 네, 오염되어 있어요.
              label(for='unpolluted')
                input#unpolluted(type='radio', name='pollution', value='unpolluted')
                | 아니요, 오염되지 않았어요.
            .q_button
              button.prev(type='button') 이전
              button.next(type='button') 다음
              .clear
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.txt_alert.alert_01 위 항목이 선택되지 않았습니다.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .q_cont.q_cont02
            .q_question
              h2 2. 스프링이나 겉비닐, 테이프 등 다른 재질이 혼합되어 있나요?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_answer
              label(for='mixed')
                input#mixed(type='radio', name='mixing', value='mixed')
                | 네, 다른 재질과 섞여있어요.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              label(for='unmixed')
                input#unmixed(type='radio', name='mixing', value='unmixed')
                | 아니요, 종이만으로 돼있어요.
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_button
              button.prev(type='button') 이전
              button.next(type='button') 다음
              .clear
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.txt_alert.alert_02 위 항목이 선택되지 않았습니다.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .q_cont.q_cont03
            .q_question
              h2 3. 영수증, 우유팩, 종이컵, 포장지 등 코팅되어 있는 종이인가요?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_answer
              label(for='coated')
                input#coated(type='radio', name='coating', value='coated')
                |  네, 코팅되어 있어요.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              label(for='uncoated')
                input#uncoated(type='radio', name='coating', value='uncoated')
                |  아니요, 코팅돼있지 않아요.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_button
              button.prev(type='button') 이전
              button.next(type='button') 다음
              .clear
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.txt_alert.alert_03 위 항목이 선택되지 않았습니다.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .q_cont.q_cont04
            .q_question
              h2 4. 깨끗한 순수 종이로만 되어 있나요?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_answer
              label(for='paper')
                input#paper(type='radio', name='paper', value='paper')
                | 네, 순수한 종이로만 되어 있어요.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              label(for='paperNo')
                input#paperNo(type='radio', name='paper', value='paperNo')
                | 아니요, 종이로만 되어있지 않아요.
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .q_button
              button.prev(type='button') 이전
              button.next(type='button') 다음
              .clear
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.txt_alert.alert_04 위 항목이 선택되지 않았습니다.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .q_cont.q_result
            h2 MBTI &#xC720;&#xD615;&#xC5D0; &#xB530;&#xB978; &#xCD94;&#xCC9C; &#xD074;&#xB798;&#xC2A4;&#xB97C; &#xC548;&#xB0B4;&#xD569;&#xB2C8;&#xB2E4;.
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            img.resultImg(src='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            h3.result_tit
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            h4.result_mbti
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.result_txt
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .clear.lastclear
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        // /.q_frame
      // /.q_total